* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  background-color: rgb(157, 132, 115);
}

h1{
  font-size: 5rem;
  color: darkorange;
  text-decoration: dashed;
  padding: 3rem;


}

input {
  font-size: 2rem;
  margin-top: 2rem;
  width: 70vmin;
  border-radius: 1rem;
  font-size: 3rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 70vmin;
  width: 70vmin;
  background-color: rgb(15, 15, 15);
  border-radius: 1rem;
}
.box {
  height: 15vmin;
  width: 15vmin;
  border-radius: 1rem;
  margin: auto;
  font-size: 2rem;
}
.box:hover {
  cursor: pointer;
  transform: translateY(-5px);
  color: rgb(231, 92, 17);
  background-color: rgb(120, 212, 27);
}